<div>
	<h1>ジャンル管理画面</h1>
	<%= form_for(@genre, url:admins_genres_path) do |f| %>
		<label>ジャンルの追加</label>
		<%= f.text_field :name %>
		<%= f.submit "追加"%>
	<% end %>
	<table>
		<tr>ジャンル一覧</tr>
			<% @genres.each do |genre| %>
				<td><%= genre.name%></td>
				<td>
					<% if @genre.is_disable == false  %>
				        <%= link_to "無効にする", disable_admins_genre_path(genre)%>
				    <% elsif @genre.is_disable == true %>
						<%= link_to "有効にする", enable_admins_genre_path(genre) %>
				    <% end %>
				</td>
		</tr>
			<% end %>
	</table>
</div>