<div>
	<%= form_for(@product, url:admins_product_path, method: :patch) do |f| %>
	<h1>商品編集登録画面</h1>
	<%= attachment_image_tag @product, :image, :fill, 50, 50 %>
	<label>画像投稿</label>
	<%= f.attachment_field :image %>
	<label>商品名</label>
	<%= f.text_field :name %>
	<label>商品説明</label>
	<%= f.text_field :introduction %>
	<label>ジャンル</label>
	<%= f.collection_select :genre_id, Genre.where(is_disable: false), :id, :name %>
	<label>税抜価格</label>
	<%= f.text_field :price %>
	<label>販売ステータス</label>
	<%= f.submit "登録する"%>
	<% end %>

</div>