<div>
	<h1>商品一覧</h1>
	<%= link_to new_admins_product_path do %>
		<span>新規商品登録</span>
	<% end %>
	<table>
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>税抜価格</th>
				<th>ジャンル</th>
				<th>ステータス</th>
			</tr>
			<% @products.each do |product|%>
			<tr>
				<td><%= product.id%></td>
				<td>
					<%= attachment_image_tag product, :image,:fill, 50, 50 %>
					<%= link_to admins_product_path(product.id) do %>
					<%= product.name%>
					<% end %>
				</td>
				<td><%= product.price%></td>
				<td><%= product.genre.name %></td>
				<td>
					<% if product.is_stopped? %>
					<span>販売停止</span>
				<% else %>
					<span>販売中</span>
				<% end %>
				</td>
			</tr>
			<% end %>
	</table>
</div>
